*
 {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  user-select:none;
  scroll-behavior:smooth;
  font-size:30px;
 -webkit-user-select: none;
 }
body
 {
 font-family: Arial, sans-serif;
 }
 
 nav
 {
  display:flex;
  position:fixed;
  align-items:center;
  justify-content:space-around;
  height:70px;
  background-color: rgba(250, 252, 249, 0.534);;
  -webkit-backdrop-filter:blur(3px);
  backdrop-filter:blur(30px);
  z-index:1;
  width:100%;
 }
 .logo{
  display: flex;
  align-items: center;
  text-decoration: none;
 }
 i{
  font-size: 30px;
  color: #27ae60;
 }
 .logo h3{
  color: #239e56;
  font-size: 30px;
 
 }
.nav a
 {
  text-decoration:none;
  color:#27ae60;
  padding: 10px;
  text-align: center;
  margin:20px;
  padding:13px;
  transition:all 0.1s ease;
 }
  .nav a:hover
   {
  border:none;
  background-color:#219150;
  color:#fafcfa;
  border-radius: 50px;
   }
 .homepage
{
 background:url(imag/r.jpg);
 background-size:cover;
 background-repeat: no-repeat;
 background-position:center;
 background-attachment:fixed;
 height: 100%;
 width:100%;
 align-items: center;
 display: flex;
}
.content{
  margin-left:50px ;
}
.content h2{
  font-size: 50px;
}
.content h1{
  color: #27ae60 ;
  font-size: 100px;
  margin: 30px 0;
  text-shadow:0 0 100px  #27ae60;
}
.content button{
    margin-top: 10px;
    height:70px ;
    width:190px ;
    border:none ;
    background-color: #27ae60 ;
    color:antiquewhite;
    border-radius:40px ;
    font-size:20px ;
    font-weight: 1000px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.content button:hover{
  box-shadow:0 10px 50px 5px #27ae60;
}
section{
  padding:100px 100px;
  }
.icons {
    display: flex;
    gap: 20px;
    margin: 30px;
    align-items: center;
}

.cart-icon, .wishlist-icon, .user-icon {
    position: relative;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
}
.div{
animation: slider 60s linear infinite;
background-size:cover;
width: 500px;
height: 500px;
position: absolute;
top:20%;
left: 60%;
transform: 0.3s ease;
}
@keyframes slider{
0%{ background-image: url(imag/book1.jpg);}
50%{ background-image: url(imag/book3.jpg);}
100%{background-image: url(imag/boob4.jpg);}
}